<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #82cbff">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HospitalLTD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost/hospitalmrp/index.php">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost/hospitalmrp/selectDoc.php">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost/hospitalmrp/selectPatient.php">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost/hospitalmrp/templates/auth.html.php" tabindex="-1">Login</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
            Add
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Add Doctor</a>
            <a class="dropdown-item" href="#">Add Patient</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Add New Record</a>
          </div>
        </li>

      </ul>
      <form class="d-flex" action="find.php" method="post">
        <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search" name="searchValue">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>